In [ ]:
from google.colab import drive 

drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
import pandas as pd 
import random

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/LAMDA/chatbot/dataset/Wellness_Conversation_keyword2.csv')
data

             keyword                  utterance  keyword_label
0                 우울                   임신해서 우울해              0
1                 우울              아이 가지고 나서 우울해              0
2                 우울    아이 가졌는데 기분 하나도 안 좋고 울적해              0
3                 우울  임신했는데 남편이 하나도 안 챙겨줘서 우울하다              0
4                 우울   진단 결과 안 좋게 나올 것 같아서 우울해               0
...              ...                        ...            ...
11947  낭떠러지 끝에 있는 느낌           나락으로 떨어질 거 같은 느낌              2
11948  낭떠러지 끝에 있는 느낌           나쁜 일 일어날 거 같은 느낌              2
11949  낭떠러지 끝에 있는 느낌    아주 나쁜 일 일어날 거 같은 느낌 있잖아              2
11950  낭떠러지 끝에 있는 느낌      요즘 항상 절벽 위에 서 있는 거 같아              2
11951  낭떠러지 끝에 있는 느낌        내 몸이 절벽 위에 있는 거 같아요              2

[11952 rows x 3 columns]

In [ ]:
label_score = dict([])
label_score

{}

In [ ]:
label_score['label_0'] = [70, 10, 20], [70, 20, 10], [80, 10, 10], [90, 5, 5]
label_score['label_1'] = [5, 90, 5], [10, 70, 20], [20, 70, 10], [10, 80, 10]
label_score['label_2'] = [5, 5, 90], [10, 20, 70], [20, 10, 70], [10, 10, 80]
label_score

{'label_0': ([70, 10, 20], [70, 20, 10], [80, 10, 10], [90, 5, 5]),
 'label_1': ([5, 90, 5], [10, 70, 20], [20, 70, 10], [10, 80, 10]),
 'label_2': ([5, 5, 90], [10, 20, 70], [20, 10, 70], [10, 10, 80])}

In [ ]:
kq_df = data[['utterance', 'keyword_label']]
kq_df

                       utterance  keyword_label
0                       임신해서 우울해              0
1                  아이 가지고 나서 우울해              0
2        아이 가졌는데 기분 하나도 안 좋고 울적해              0
3      임신했는데 남편이 하나도 안 챙겨줘서 우울하다              0
4       진단 결과 안 좋게 나올 것 같아서 우울해               0
...                          ...            ...
11947           나락으로 떨어질 거 같은 느낌              2
11948           나쁜 일 일어날 거 같은 느낌              2
11949    아주 나쁜 일 일어날 거 같은 느낌 있잖아              2
11950      요즘 항상 절벽 위에 서 있는 거 같아              2
11951        내 몸이 절벽 위에 있는 거 같아요              2

[11952 rows x 2 columns]

In [ ]:
kq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11952 entries, 0 to 11951
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   utterance      11952 non-null  object
 1   keyword_label  11952 non-null  int64
dtypes: int64(1), object(1)
memory usage: 186.9+ KB

In [ ]:
label_score['label_0'][0]

[70, 10, 20]

In [ ]:
random.randint(0, 3)

3

In [ ]:
def convert_label(label):
  '''
  label을 입력받아 확률로 반환해주는 함수 
  '''
  random_val = random.randint(0, 3)
  if label == 0: 
    return label_score['label_0'][random_val] 
  elif label == 1: 
    return label_score['label_1'][random_val]
  elif label == 2: 
    return label_score['label_2'][random_val]

In [ ]:
kq_df2 = kq_df.copy() 
kq_df2.keyword_label = kq_df2.keyword_label.apply(convert_label) 
kq_df2

                       utterance keyword_label
0                       임신해서 우울해  [70, 10, 20]
1                  아이 가지고 나서 우울해  [70, 20, 10]
2        아이 가졌는데 기분 하나도 안 좋고 울적해  [80, 10, 10]
3      임신했는데 남편이 하나도 안 챙겨줘서 우울하다  [70, 20, 10]
4       진단 결과 안 좋게 나올 것 같아서 우울해   [70, 10, 20]
...                          ...           ...
11947           나락으로 떨어질 거 같은 느낌  [10, 10, 80]
11948           나쁜 일 일어날 거 같은 느낌  [10, 10, 80]
11949    아주 나쁜 일 일어날 거 같은 느낌 있잖아    [5, 5, 90]
11950      요즘 항상 절벽 위에 서 있는 거 같아  [10, 20, 70]
11951        내 몸이 절벽 위에 있는 거 같아요  [20, 10, 70]

[11952 rows x 2 columns]

In [ ]:
kq_df.keyword_label = kq_df.keyword_label.apply(convert_label)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
kq_df['label_0'] = kq_df['keyword_label']
kq_df['label_1'] = kq_df['keyword_label'] 
kq_df['label_2'] = kq_df['keyword_label'] 
kq_df

,utterance,keyword_label,label_0,label_1,label_2
0,임신해서 우울해,"[80, 10, 10]","[80, 10, 10]","[80, 10, 10]","[80, 10, 10]"
1,아이 가지고 나서 우울해,"[80, 10, 10]","[80, 10, 10]","[80, 10, 10]","[80, 10, 10]"
2,아이 가졌는데 기분 하나도 안 좋고 울적해,"[70, 10, 20]","[70, 10, 20]","[70, 10, 20]","[70, 10, 20]"
3,임신했는데 남편이 하나도 안 챙겨줘서 우울하다,"[80, 10, 10]","[80, 10, 10]","[80, 10, 10]","[80, 10, 10]"
4,진단 결과 안 좋게 나올 것 같아서 우울해,"[70, 20, 10]","[70, 20, 10]","[70, 20, 10]","[70, 20, 10]"
...,...,...,...,...,...
11947,나락으로 떨어질 거 같은 느낌,"[5, 5, 90]","[5, 5, 90]","[5, 5, 90]","[5, 5, 90]"
11948,나쁜 일 일어날 거 같은 느낌,"[10, 20, 70]","[10, 20, 70]","[10, 20, 70]","[10, 20, 70]"
11949,아주 나쁜 일 일어날 거 같은 느낌 있잖아,"[10, 20, 70]","[10, 20, 70]","[10, 20, 70]","[10, 20, 70]"
11950,요즘 항상 절벽 위에 서 있는 거 같아,"[5, 5, 90]","[5, 5, 90]","[5, 5, 90]","[5, 5, 90]"
11951,내 몸이 절벽 위에 있는 거 같아요,"[10, 10, 80]","[10, 10, 80]","[10, 10, 80]","[10, 10, 80]"

In [ ]:
del kq_df['keyword_label']

In [ ]:
kq_df.label_0 = kq_df.label_0.apply(lambda x: x[0]) 
kq_df.label_1 = kq_df.label_1.apply(lambda x: x[1])
kq_df.label_2 = kq_df.label_2.apply(lambda x: x[2]) 
kq_df

                       utterance  label_0  label_1  label_2
0                       임신해서 우울해       80       10       10
1                  아이 가지고 나서 우울해       80       10       10
2        아이 가졌는데 기분 하나도 안 좋고 울적해       70       10       20
3      임신했는데 남편이 하나도 안 챙겨줘서 우울하다       80       10       10
4       진단 결과 안 좋게 나올 것 같아서 우울해        70       20       10
...                          ...      ...      ...      ...
11947           나락으로 떨어질 거 같은 느낌        5        5       90
11948           나쁜 일 일어날 거 같은 느낌       10       20       70
11949    아주 나쁜 일 일어날 거 같은 느낌 있잖아       10       20       70
11950      요즘 항상 절벽 위에 서 있는 거 같아        5        5       90
11951        내 몸이 절벽 위에 있는 거 같아요       10       10       80

[11952 rows x 4 columns]

In [ ]:
kq_df['utterance'] = kq_df['utterance'].apply(lambda x: x.replace('\t', ''))
kq_df

                       utterance  label_0  label_1  label_2
0                       임신해서 우울해       80       10       10
1                  아이 가지고 나서 우울해       80       10       10
2        아이 가졌는데 기분 하나도 안 좋고 울적해       70       10       20
3      임신했는데 남편이 하나도 안 챙겨줘서 우울하다       80       10       10
4       진단 결과 안 좋게 나올 것 같아서 우울해        70       20       10
...                          ...      ...      ...      ...
11947           나락으로 떨어질 거 같은 느낌        5        5       90
11948           나쁜 일 일어날 거 같은 느낌       10       20       70
11949    아주 나쁜 일 일어날 거 같은 느낌 있잖아       10       20       70
11950      요즘 항상 절벽 위에 서 있는 거 같아        5        5       90
11951        내 몸이 절벽 위에 있는 거 같아요       10       10       80

[11952 rows x 4 columns]

In [ ]:
kq_count = kq_df.groupby(['label_0', 'label_1', 'label_2']).count()
kq_count.columns = ['count']
kq_count

                         count
label_0 label_1 label_2
5       5       90        1615
        90      5          835
10      10      80        1640
        20      70        1576
        70      20         808
        80      10         890
20      10      70        1554
        70      10         840
70      10      20         545
        20      10         547
80      10      10         524
90      5       5          578

In [ ]:
kq_count.T

label_0    5          10                    20        70        80   90
label_1    5    90    10    20   70   80    10   70   10   20   10   5
label_2    90   5     80    70   20   10    70   10   20   10   10   5
count    1615  835  1640  1576  808  890  1554  840  545  547  524  578

In [ ]:
kq_df.to_csv('/content/drive/MyDrive/LAMDA/chatbot/dataset/Wellness_KATQN.csv', index=None)

In [ ]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split

In [ ]:
from sklearn.utils import shuffle 
from sklearn.model_selection import train_test_split

X_train, X_test = train_test_split(kq_df, test_size=0.2, random_state=42)
X_train, X_val = train_test_split(X_train, test_size=0.2, random_state=42)
len(X_train), len(X_val), len(X_test)

(7648, 1913, 2391)

In [ ]:
X_test.describe().T

          count       mean        std  min   25%   50%   75%   max
label_0  2391.0  23.289419  26.362485  5.0  10.0  10.0  20.0  90.0
label_1  2391.0  29.592221  30.459709  5.0  10.0  10.0  70.0  90.0
label_2  2391.0  47.118361  34.110303  5.0  10.0  70.0  80.0  90.0

In [ ]:
count_2 = X_train.groupby('label_2').count()
pd.DataFrame(count_2['utterance'].rename('count'))

         count
label_2
5          946
10        1793
20         846
70        2029
80        1033
90        1001

In [ ]:
count_1 = X_train.groupby('label_1').count()
pd.DataFrame(count_1['utterance'].rename('count'))

         count
label_1
5         1378
10        2651
20        1430
70        1080
80         540
90         569

In [ ]:
count_0 = X_train.groupby('label_0').count()
pd.DataFrame(count_0['utterance'].rename('count'))

         count
label_0
5         1570
10        3175
20        1507
70         674
80         345
90         377

In [ ]:
X_train.to_csv('/content/drive/MyDrive/LAMDA/chatbot/dataset/Wellness_KATQN_train.csv', index=None)
X_val.to_csv('/content/drive/MyDrive/LAMDA/chatbot/dataset/Wellness_KATQN_val.csv', index=None)
X_test.to_csv('/content/drive/MyDrive/LAMDA/chatbot/dataset/Wellness_KATQN_test.csv', index=None)

In [ ]:
X_train.to_csv('/content/drive/MyDrive/LAMDA/chatbot/dataset/Wellness_KATQN_train.tsv', sep='\t', encoding='utf-8', index=None)
X_val.to_csv('/content/drive/MyDrive/LAMDA/chatbot/dataset/Wellness_KATQN_val.tsv', sep='\t', encoding='utf-8', index=None)
X_test.to_csv('/content/drive/MyDrive/LAMDA/chatbot/dataset/Wellness_KATQN_test.tsv', sep='\t', encoding='utf-8', index=None)

In [ ]:
type(kq_df.label_0.values[0])

numpy.int64